[Desktop Entry]
Name=LXD Terminal Delete
Comment=Remove the container created by LXD Terminal
Keywords=command;lxd;terminal;delete
TryExec=lxd-terminal.delete
Exec=lxd-terminal.delete
Icon=${SNAP}/lxd-terminal-delete.svg
Type=Application
